* {
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    text-align: center;
}

.red-color {
    color: red;
}

.white-color {
    color: white;
}

.bg-green {
    background-color: green;
}

.w-1200 {
    width: 1200px;
}

.mg-auto {
    margin: 0 auto;
}

.w-33 {
    width: 33%;
}

.fl-left {
    float: left;
}

.clear-both {
    clear: both;
}

.mg-tb-30px {
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    width: 100px;
}

.padding-20 {
    padding: 20px;
}